@charset "UTF-8";
* { margin: 0px; padding: 0px; } 
/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
:root {--fonte1: Verdana, Geneva, Tahoma, sans-serif; 
       --fonte2: 'Passion One', cursive;
       --fonte3: 'Sriracha', cursive;}

body {margin: 0px; background-color: darkgray; font-family: var(--fonte1);} 
/* testei com o 'height: 100vh;' e 'min-height: 100vh;' e não entendi a diferença */

/* CABEÇALHO */
header {background-color: black; color: white; text-align: center; 
        padding-top: 20px; padding-bottom: 15px;}
h1 {font-variant: small-caps; font-family: var(--fonte2); font-size: 5vw; 
/* 'font-variant' ou 'text-transform: uppercase' - todas as letras maiúsculas */
    margin-top: 0px; margin-bottom: 0px;} 
header > p {margin-top: 0px; font-size: 3vh}
a {color: white; text-decoration: none; font-weight: bolder;}
a:hover {text-decoration: underline;}

/* CONTEÚDO PRINCIPAL */
section {padding-top: 10vh; padding-bottom: 10vh; /* 10% da altura da tela */
         line-height: 2em; padding-left: 60px; font-family: var(--fonte3); font-size: 2vw;} 
.fundo-branco {background-color: white;}
.fundo-imagem {box-shadow: inset 6px 6px 12px 0px rgba(0, 0, 0, 0.411);
               background-size: cover; background-attachment: fixed}
.fundo-imagem > p {background-color: rgba(0, 0, 0, 0.527); color: white;
                    display: inline-block; padding: 10px; text-shadow: 2px 2px 2px black}
#cordel-tec {background-image: url(../imagens/cordel_tec.png)}
#cordel-moderno {background-image: url(../imagens/cordel_moderno.jpg)} 

/* RODAPÉ */
footer {background-color: black; color: white; padding: 20px; line-height: 1.2em;}
footer a {color: yellow; text-decoration: none;}
footer a:hover {text-decoration: underline;} 

footer div {display: flex; justify-content: center;}
#paragrafo3 {display: none;}
#paragrafo4 {display: none;}

@media (max-width: 900px) {
  #paragrafo2 {display: none;}
  #paragrafo3 {display: block;}
  #paragrafo3 div {display: flex; justify-content: center;}
}

@media (max-width: 610px) {
  footer {font-size: .7em;}
}

@media (max-width: 410px) {
  #paragrafo1 {display: block; text-align: center;}
  #paragrafo1 .espaço {display: none;}
  #paragrafo3 {display: none;}
  #paragrafo4 {display: block;}
  #paragrafo4 div {display: flex; justify-content: center;}
}
